/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin-top: 50px;
  color: #333;
}
/* Add this to your style.css file */
.card {
  border: 1px solid #4d4c4c;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.card:hover {
  background-color: #cd8787;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}
